<!DOCTYPE html>
<html lang="en" class="h-full">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="stylesheet" href="/style.css">
    <script src="//unpkg.com/alpinejs" defer></script>
    {% block head %}
    <title>{% block title %}{{p.attributes.title}}{% endblock %} - {{ g.meta.title }}</title>
    {% endblock %}
</head>

<body class="h-full">
    <div class="min-h-full">
        {% include 'nav.html.jinja2' %}
        <div class="mx-auto max-w-7xl px-4 py-8 sm:px-6 lg:px-8">
            <header>
                {% block page_header %}
                <div class="border-b border-gray-200">
                    <div class="sm:flex sm:items-baseline">
                        <h1 class="text-2xl sm:text-4xl font-bold text-gray-900">
                            {% if p.attributes.path == '/' %}
                            {{p.attributes.title}}
                            {% else %}
                            {% for link in g.meta.navigation %}
                            {% if p.attributes.path.startswith(link.link) %}
                            {{link.title}}
                            {% endif %}
                            {% endfor %}
                            {% endif %}
                        </h1>
                        <div class="mt-4 sm:ml-10 sm:mt-0">
                            <nav class="-mb-px flex space-x-8">
                                {% for link in g.meta.navigation %}
                                {% if p.attributes.path.startswith(link.link) and link.navigation %}
                                {% for link in link.navigation %}
                                <a href="{{link.link}}"
                                    class="whitespace-nowrap border-b-2 px-1 pb-1 sm:pb-4 text-sm font-medium {% if p.attributes.path.startswith(link.link) %}border-indigo-500 text-indigo-600{% else %}border-transparent text-gray-500 hover:border-gray-300 hover:text-gray-700{% endif %}"
                                    aria-current="page">{{link.title}}</a>
                                {% endfor %}
                                {% endif %}
                                {% endfor %}
                                <span class="whitespace-nowrap border-b-2 px-1 pb-1 sm:pb-4">&nbsp;</span>
                            </nav>

                        </div>

                    </div>
                </div>
                {% endblock %}
            </header>
            <main>
                <div class="mx-auto max-w-7xl prose prose-sm sm:prose-base pt-8">
                    {% block content %}
                    {% endblock %}
                </div>
            </main>
        </div>
    </div>
</body>

</html>