{% macro table(games) -%}
<div class="mt-8 flow-root">
    <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
        <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
            <table class="min-w-full divide-y divide-gray-300">
                <thead>
                    <tr>
                        <th scope="col"
                            class="whitespace-nowrap py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-0">
                            Date</th>
                        <th scope="col"
                            class="whitespace-nowrap px-2 py-3.5 text-left text-sm font-semibold text-gray-900">Time
                        </th>
                        <th scope="col"
                            class="whitespace-nowrap px-2 py-3.5 text-left text-sm font-semibold text-gray-900 hidden lg:table-cell">
                            Location
                        </th>
                        <th scope="col"
                            class="whitespace-nowrap px-2 py-3.5 text-left text-sm font-semibold text-gray-900">
                            Division</th>
                        <th scope="col"
                            class="whitespace-nowrap px-2 py-3.5 text-left text-sm font-semibold text-gray-900">Away
                            Team (White)
                        </th>
                        <th scope="col"
                            class="whitespace-nowrap px-2 py-3.5 text-left text-sm hidden xl:table-cell font-semibold text-gray-900">
                            Away
                            Team Score
                        </th>
                        <th scope="col"
                            class="whitespace-nowrap px-2 py-3.5 text-left text-sm font-semibold text-gray-900">Home
                            Team (Dark)</th>
                        <th scope="col"
                            class="whitespace-nowrap px-2 py-3.5 text-left text-sm hidden xl:table-cell font-semibold text-gray-900">
                            Home
                            Team Score</th>
                    </tr>
                </thead>
                <tbody class="divide-y divide-gray-200 bg-white">
                    {% for game in games %}
                    <tr>
                        <td class="whitespace-nowrap py-2 pl-4 pr-3 text-sm text-gray-500 sm:pl-0">{{ game.date }}</td>
                        <td class="whitespace-nowrap px-2 py-2 text-sm font-medium text-gray-900">{{ game.time }}</td>
                        <td class="whitespace-nowrap px-2 py-2 text-sm text-gray-900 hidden lg:table-cell">{{
                            game.location.name }}</td>
                        <td class="whitespace-nowrap px-2 py-2 text-sm text-gray-500">{{ game.division.name }}</td>
                        <td
                            class="whitespace-nowrap px-2 py-2 text-sm text-gray-500 {% if game.away_team.name == game.winner.name %}font-bold{% endif %}">
                            {{ game.away_team.name }}
                            <span class="xl:collapse">{{
                                game.away_team_score }}</span>
                        </td>
                        <td class="whitespace-nowrap px-2 py-2 text-sm hidden xl:table-cell text-gray-500">{{
                            game.away_team_score }}</td>
                        <td
                            class="whitespace-nowrap px-2 py-2 text-sm text-gray-500 {% if game.home_team.name == game.winner.name %}font-bold{% endif %}">
                            {{ game.home_team.name }}
                            <span class="xl:collapse">{{
                                game.home_team_score }}</span>
                        </td>
                        <td class="whitespace-nowrap px-2 py-2 text-sm hidden xl:table-cell text-gray-500">{{
                            game.home_team_score }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{%- endmacro %}