{% macro table(
games,
home_team="Home Team",
away_team="Away Team",
score="Score",
include_location=True,
include_time=True) -%}
<div>
    <div class="mt-8 flow-root not-prose" id="schedule">
        <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
            <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
                <table class="min-w-full divide-y divide-gray-300 text-sm md:text-lg">
                    <thead>
                        <tr>
                            <th scope="col" data-type="date"
                                class="whitespace-nowrap py-3.5 pl-4 pr-3 text-left font-semibold text-gray-900 sm:pl-0">
                                <span class="sm:inline hidden">Date</span>
                                <span class="sm:hidden inline">Date/Time</span>
                            </th>
                            {% if include_time %}
                            <th scope="col"
                                class="whitespace-nowrap px-2 py-3.5 text-left font-semibold text-gray-900 sm:table-cell hidden">
                                Time
                            </th>
                            {% endif %}
                            {% if include_location %}
                            <th scope="col"
                                class="whitespace-nowrap px-2 py-3.5 text-left font-semibold text-gray-900 lg:table-cell hidden">
                                Location
                            </th>
                            {% endif %}
                            <th scope="col" class="whitespace-nowrap px-2 py-3.5 text-left font-semibold text-gray-900">
                                Division</th>
                            <th scope="col" class="whitespace-nowrap px-2 py-3.5 text-left font-semibold text-gray-900">
                                {{away_team}}
                            </th>
                            <th scope="col" class="whitespace-nowrap px-2 py-3.5 text-left font-semibold text-gray-900">
                                {{home_team}}
                            </th>
                            <th scope="col" class="whitespace-nowrap px-2 py-3.5 text-left font-semibold text-gray-900">
                                <span class="xl:inline hidden">{{score}}</span>
                            </th>
                        </tr>
                    </thead>
                    <tbody class="divide-y divide-gray-200 bg-white">
                        {% for game in games %}
                        <tr class="align-middle">
                            <td class="whitespace-nowrap py-2 pl-4 pr-3 text-gray-500 sm:pl-0">
                                <p class="sm:block hidden">{{ game.date }}</p>
                                <p class="sm:hidden block">
                                    {{ game.short_date_format() }} {{ game.short_time_format() }}
                                </p>
                            </td>
                            {% if include_time %}
                            <td class="whitespace-nowrap px-2 py-2 text-gray-900 sm:table-cell hidden">
                                {{ game.short_time_format() }}
                            </td>
                            {% endif %}
                            {% if include_location %}
                            <td class="whitespace-nowrap px-2 py-2 text-gray-900 lg:table-cell hidden">
                                {{ game.location.name }}
                            </td>
                            {% endif %}
                            <td class="whitespace-nowrap px-2 py-2 text-gray-500">{{ game.division.name }}</td>
                            <td
                                class="align-middle whitespace-nowrap px-2 py-2  {% if game.away_team.name == game.winner.name %}font-bold text-neutral-900 {% else %}text-gray-500{% endif %}">
                                <img class="lg:size-6 size-4 inline-block" src="{{game.away_team.icon()}}" />
                                <span class="inline-block">{{ game.away_team.name }}</span>

                            </td>
                            <td
                                class="align-middle whitespace-nowrap px-2 py-2 {% if game.home_team.name == game.winner.name %}font-bold text-neutral-900{% else %}text-gray-500{% endif %}">
                                <img class="lg:size-6 size-4 inline-block" src="{{game.home_team.icon()}}" />
                                <span class="inline-block">{{ game.home_team.name }}</span>

                            </td>
                            <td class="whitespace-nowrap px-2 py-2 text-gray-500">
                                {% if game.away_team_score and game.home_team_score %}
                                ({{ game.away_team_score }} - {{ game.home_team_score }})
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{%- endmacro %}