{% macro table(
games,
home_team="Home Team",
away_team="Away Team",
score="Score",
include_location=True,
include_time=True,
include_division=True) -%}
<div>
    {# Group games by week #}
    {% set current_week = namespace(value=none) %}

    <div class="mt-8 flow-root not-prose" id="schedule">
        <div class="overflow-x-auto">
            <div class="inline-block min-w-full py-2 align-middle">
                {% for game in games %}
                {# Convert date string to datetime object #}
                {% set date = game.date|datetime %}
                {# Get the week start date (Monday) for current game #}
                {% set game_week = date.strftime('%Y-W%W') %}

                {# If we're starting a new week, create a new table #}
                {% if game_week != current_week.value %}
                {% if not loop.first %}
                </tbody>
                </table>
                {% endif %}

                {% set current_week.value = game_week %}
                <h3 class="font-semibold text-lg text-gray-900 mt-8 mb-4">Week of {{ date.strftime('%B %d, %Y') }}
                </h3>

                <table class="min-w-full divide-y divide-gray-300 text-sm md:text-lg">
                    <thead>
                        <tr class="align-top">
                            <th scope="col" data-type="date"
                                class="whitespace-nowrap text-left font-semibold text-gray-900">
                                <span class="hidden sm:inline">Date</span>
                                <span class="inline sm:hidden">
                                    <p>Date</p>
                                    <p>Time</p>
                                </span>
                            </th>
                            {% if include_time %}
                            <th scope="col"
                                class="whitespace-nowrap text-left font-semibold text-gray-900 hidden sm:table-cell">
                                Time
                            </th>
                            {% endif %}
                            {% if include_division %}
                            <th scope="col" class="whitespace-nowrap text-left font-semibold text-gray-900">
                                <span class="sm:inline hidden">Division</span>
                                <span class="sm:hidden inline">
                                    Div.
                                </span>
                            </th>
                            {% endif %}
                            <th scope="col"
                                class="whitespace-nowrap text-left font-semibold text-gray-900 table-cell sm:hidden">
                                Teams
                            </th>
                            <th scope="col"
                                class="whitespace-nowrap text-left font-semibold text-gray-900 sm:table-cell hidden">
                                {{away_team}}
                            </th>
                            <th scope="col"
                                class="whitespace-nowrap text-left font-semibold text-gray-900 sm:table-cell hidden">
                                {{home_team}}
                            </th>
                            <th scope="col" class="whitespace-nowrap text-left font-semibold text-gray-900">
                                <span blah-class="xl:inline hidden">{{score}}</span>
                            </th>
                            {% if include_location %}
                            <th scope="col"
                                class="whitespace-nowrap text-left font-semibold text-gray-900 lg:table-cell hidden">
                                Location
                            </th>
                            {% endif %}
                        </tr>
                    </thead>
                    <tbody class="divide-y divide-gray-200 bg-white">
                        {% endif %}

                        <tr class="align-middle">
                            <td class="whitespace-nowrap text-gray-500">
                                <p class="hidden sm:block">{{ date.strftime('%a %-m/%-d') }}</p>
                                <p class="block sm:hidden">{{ date.strftime('%a %-m/%-d') }}</p>
                                <p class="block sm:hidden">{{ date.strftime('%I:%M %p').lower() }}</p>
                            </td>
                            {% if include_time %}
                            <td class="whitespace-nowrap pt-1 pb-2 text-gray-900 sm:table-cell hidden">
                                {{ date.strftime('%-I:%M %p').lower() }}
                            </td>
                            {% endif %}
                            {% if include_division %}
                            <td class="whitespace-nowrap pt-1 pb-2 text-gray-500">
                                <span class="sm:hidden">{{ game.division.short_name() }}</span>
                                <span class="sm:inline hidden">{{ game.division.name }}</span>
                            </td>
                            {% endif %}
                            <td
                                class="align-middle whitespace-nowrap pt-1 pb-2 table-cell sm:hidden {% if game.away_team.name == game.winner.name %}font-bold text-neutral-900 {% else %}text-gray-500{% endif %}">
                                <p>
                                    <img class="lg:size-6 size-4 inline-block" src="{{game.away_team.icon()}}" />
                                    <span class="inline-block">{{ game.away_team.name }}</span>
                                </p>
                                <p>
                                    <img class="lg:size-6 size-4 inline-block" src="{{game.home_team.icon()}}" />
                                    <span class="inline-block">{{ game.home_team.name }}</span>
                                </p>

                            </td>
                            <td
                                class="align-middle whitespace-nowrap pt-1 pb-2 sm:table-cell hidden {% if game.away_team.name == game.winner.name %}font-bold text-neutral-900 {% else %}text-gray-500{% endif %}">
                                <img class="lg:size-6 size-4 inline-block" src="{{game.away_team.icon()}}" />
                                <span class="inline-block">{{ game.away_team.name }}</span>

                            </td>
                            <td
                                class="align-middle whitespace-nowrap pt-1 pb-2 sm:table-cell hidden {% if game.home_team.name == game.winner.name %}font-bold text-neutral-900{% else %}text-gray-500{% endif %}">
                                <img class="lg:size-6 size-4 inline-block" src="{{game.home_team.icon()}}" />
                                <span class="inline-block">{{ game.home_team.name }}</span>

                            </td>
                            <td class="whitespace-nowrap pt-1 pb-2 text-gray-500">
                                {% if game.away_team_score and game.home_team_score %}
                                ({{ game.away_team_score }} - {{ game.home_team_score }})
                                {% endif %}
                            </td>
                            {% if include_location %}
                            <td class="whitespace-nowrap pt-1 pb-2 text-gray-900 lg:table-cell hidden">
                                {{ game.location.name }}
                            </td>
                            {% endif %}
                        </tr>

                        {% if loop.last %}
                    </tbody>
                </table>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{%- endmacro %}