{% import "games.html.jinja2" as games %}
{{ games.table(
league.games,
home_team=home_team,
away_team=away_team,
home_team_score=home_team_score,
away_team_score=away_team_score,
include_location=include_location,
include_time=include_time) }}